.modal{
    text-align: center; 
    background-color: aqua;
}
.modal-footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: auto;
}
.modal-body{
    background-color: black;
    color: aqua;
    align-items: center;
}
.modal-content{
    border-radius: 3px;
}